@font-face {
  font-family: 'gwmpd';
  src:  url('fonts/gwmpd.eot?aohtcz');
  src:  url('fonts/gwmpd.eot?aohtcz#iefix') format('embedded-opentype'),
    url('fonts/gwmpd.ttf?aohtcz') format('truetype'),
    url('fonts/gwmpd.woff?aohtcz') format('woff'),
    url('fonts/gwmpd.svg?aohtcz#gwmpd') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'gwmpd' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add:before {
  content: "\e145";
}
.icon-autorenew:before {
  content: "\e863";
}
.icon-close:before {
  content: "\e5cd";
}
.icon-clear_all:before {
  content: "\e0b8";
}
.icon-mode_edit:before {
  content: "\e254";
}
.icon-create_new_folder:before {
  content: "\e2cc";
}
.icon-delete:before {
  content: "\e872";
}
.icon-format_align_left:before {
  content: "\e236";
}
.icon-keyboard_arrow_down:before {
  content: "\e313";
}
.icon-keyboard_arrow_left:before {
  content: "\e314";
}
.icon-keyboard_arrow_right:before {
  content: "\e315";
}
.icon-keyboard_arrow_up:before {
  content: "\e316";
}
.icon-sync:before {
  content: "\e627";
}
.icon-open_in_browser:before {
  content: "\e89d";
}
.icon-pause:before {
  content: "\e034";
}
.icon-play_arrow:before {
  content: "\e037";
}
.icon-power_settings_new:before {
  content: "\e8ac";
}
.icon-public:before {
  content: "\e80b";
}
.icon-queue_music:before {
  content: "\e03d";
}
.icon-remove:before {
  content: "\e15b";
}
.icon-visibility:before {
  content: "\e8f4";
}
.icon-repeat:before {
  content: "\e040";
}
.icon-save:before {
  content: "\e161";
}
.icon-settings:before {
  content: "\e8b8";
}
.icon-shuffle:before {
  content: "\e043";
}
.icon-skip_next:before {
  content: "\e044";
}
.icon-skip_previous:before {
  content: "\e045";
}
.icon-stop:before {
  content: "\e047";
}
.icon-undo:before {
  content: "\e166";
}
.icon-visibility_off:before {
  content: "\e8f5";
}
.icon-volume_down:before {
  content: "\e04d";
}
.icon-volume_mute:before {
  content: "\e04e";
}
.icon-volume_off:before {
  content: "\e04f";
}
.icon-volume_up:before {
  content: "\e050";
}
.icon-whatshot:before {
  content: "\e80e";
}
