$icomoon-font-family: "gwmpd" !default;
$icomoon-font-path: "fonts" !default;

$icon-add: "\e145";
$icon-autorenew: "\e863";
$icon-close: "\e5cd";
$icon-clear_all: "\e0b8";
$icon-mode_edit: "\e254";
$icon-create_new_folder: "\e2cc";
$icon-delete: "\e872";
$icon-format_align_left: "\e236";
$icon-keyboard_arrow_down: "\e313";
$icon-keyboard_arrow_left: "\e314";
$icon-keyboard_arrow_right: "\e315";
$icon-keyboard_arrow_up: "\e316";
$icon-sync: "\e627";
$icon-open_in_browser: "\e89d";
$icon-pause: "\e034";
$icon-play_arrow: "\e037";
$icon-power_settings_new: "\e8ac";
$icon-public: "\e80b";
$icon-queue_music: "\e03d";
$icon-remove: "\e15b";
$icon-visibility: "\e8f4";
$icon-repeat: "\e040";
$icon-save: "\e161";
$icon-settings: "\e8b8";
$icon-shuffle: "\e043";
$icon-skip_next: "\e044";
$icon-skip_previous: "\e045";
$icon-stop: "\e047";
$icon-undo: "\e166";
$icon-visibility_off: "\e8f5";
$icon-volume_down: "\e04d";
$icon-volume_mute: "\e04e";
$icon-volume_off: "\e04f";
$icon-volume_up: "\e050";
$icon-whatshot: "\e80e";

